* {
    box-sizing: border-box;
    margin:0px;
}

body {
    background-color: grey;
}

.wrapper {
    padding: 15px;
}

.addcontrol {
    display: flex;
    justify-content: space-evenly;
}

.section {
    padding: 15px 0px;
    border:2px solid yellow;
    border-radius: 12px;
    margin: 15px 0px;
}

h1 {
    border: 2px solid brown;
    text-align: center;
}

.widgetcontainer {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    grid-template-rows: repeat(3, minmax(50px, auto));
    background-color: ivory;
    margin: 10px 0px;
}

.image {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    border-right: 1px solid black;
}

.status {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.delete {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.edit {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.title {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.description {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.price {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}