/*FRANCE */
.france {
    border: 1px solid black;
    width: 200px;
    height: 300px;
    margin: 20px;    
}
.franceb {
    float: left;
    background-color:#002495;
    width: 33.33%;
    height: 100%;  
}
.francew {
    float:left;
    background-color:white;
    width: 33.33%;
    height: 100%;
}
.francer {
    float:left;
    background-color:#ED2938;
    width: 33.33%;
    height: 100%;
}

/*GERMANY */
.germany {
    border: 1px solid black;
    width: 300px;
    height: 500px;
    margin: 20px;    
}
.germanyb {
    float: left;
    background-color:black;
    width: 100%;
    height: 33.33%;  
}
.germanyr {
    float:left;
    background-color:#DE0002;
    width: 100%;
    height: 33.33%;
}
.germanyy {
    float:left;
    background-color:#FFCE00;
    width: 100%;
    height: 33.33%;
}

/*MADAGASCAR */
.madagascar {
    border: 1px solid black;
    width: 200px;
    height: 300px;
    margin: 20px;    
}
.madagascarw {
    float: left;
    background-color:white;
    width: 33.33%;
    height: 100%;  
}
.madagascarr {
    float:left;
    background-color:#FC3E32;
    width: 66.66%;
    height: 50%;
}
.madagascarg {
    float:left;
    background-color:#007E39;
    width: 66.66%;
    height: 50%;
}

/*SWITZERLAND */
.switzerland {
    border: 1px solid black;
    background-color:#FC3E32;
    width: 200px;
    height: 200px;
    margin: 20px;    
}
.switzerlandh {
    position:relative;
    top:42%;
    left:25px;
    height: 45px;
    width: 150px;
    background-color:white;
}
.switzerlandv {
    position:relative;
    bottom: 15px;
    left:78px;
    height: 150px;
    width: 45px;
    background-color:white;
}

/*SWEDEN */
.sweden {
    border: 1px solid black;
    background-color:#0269A6;
    width: 500px;
    height: 800px;
    margin: 20px;    
}
.swedenh {
    position:relative;
    top:50%;
    height: 45px;
    width: 100%;
    background-color:#FECC00;
}
.swedenv {
    position:relative;
    bottom: 45px;
    left:95px;
    height: 100%;
    width: 45px;
    background-color: #FECC00;
}

/*GAMBIA */
.gambia {
    border: 1px solid black;
    width: 200px;
    height: 300px;
    margin: 20px;
    background-color:#FFFFFF ;    
}
.gambiar {
    float: left;
    background-color:#CE1127;
    width: 100%;
    height: 34%;  
}
.gambiab {
    float:left;
    background-color:#0D1D8B;
    width: 100%;
    height: 24%;
    margin-top: 12px;
    margin-bottom: 12px;
}
.gambiag {
    float:left;
    background-color:#3B7827;
    width: 100%;
    height: 34%;
}

/*JAPAN */
.japan {
    border: 1px solid black;
    width: 200px;
    height: 300px;
    margin: 20px;
    background-color:#FFFFFF ;    
}
.japanr {
    position: relative;
    top:70px ;
    left: 20px;
    background-color:#BC022C;
    width: 160px;
    height: 160px;  
    border-radius: 50%;
}

/*Niger */
.niger {
    border: 1px solid black;
    background-color: white;
    width: 600px;
    height: 700px;
    margin: 20px;    
}
.nigero {
    position: relative;
    background-color:#E15307;
    width: 100%;
    height: 250px;  
}
.nigerc {
    position:relative;
    left: 220px ;
    background-color:#E15307;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-top:20px;
    margin-bottom: 20px;
}

.nigerg {
    position: relative;
    background-color:#10AF2A;
    width: 100%;
    height: 250px;
}


